<br>
<!--First card start-->
<div class="Header">
  <div class="container" fxLaout="column" fxLayoutWrap fxLayoutGap="0.2">
    <div fxFlex="100%">
      <h1 class="MBZ" style="margin-left: 17px;">{{'List-Transaction'|translate}}</h1>
    </div>
  </div>
  <div>
    <!-- <app-group-property (PropertyChange)="getTransactionList()"></app-group-property> -->
    <app-group-property (Propertydetails)="GetPropertyData($event)"></app-group-property>
  </div>
</div>
<!--First card end-->
<br>
<div class="FX-MLR-TY">
  <mat-tab-group [selectedIndex]="selected.value">
    <mat-tab label="{{'AllTransaction'|translate}}"><br>
      <div class="container" fxLaout="column" fxLayoutWrap fxLayoutGap="0.2">        
        <div fxFlex="3%">&nbsp;</div>
        <div fxFlex="5%" *ngIf="ShowHide">
          <app-filter-transaction (LoadCompanyDetails)="GetPropertyData($event)" (transactionfilter)="selecteddata($event)"></app-filter-transaction>
        </div>                
        <div fxFlex={{Length_Type}} style="margin-top:10px" *ngIf="Filter_Flag && Deselect_invoice">
          <span class="Sel-Fil-Cap txt" (click)="Deselect_Invoice()">{{Type}}&nbsp;&#x2716;</span>                                
        </div>                
        <div fxFlex={{Length_Status}} style="margin-top:10px" *ngIf="Filter_Flag && Deselect_status">
          <span class="Sel-Fil-Cap txt" (click)="Deselect_Status()">{{Status}}&nbsp;&#x2716;</span> 
        </div>                
        <div fxFlex={{Lenght_Date}} *ngIf="Filter_Flag && Deselect_date" style="margin-top:10px">
          <span class="Sel-Fil-Cap txt" (click)="Deselect_Date()">{{Date}}&nbsp;&#x2716;</span>
        </div>
        <div fxFlex="10%" *ngIf="Filter_Flag && Deselect_all" style="margin-top:10px">
          <span class="Sel-Fil-Cap txt" (click)="Deselect_All()">Clear filter/View all &nbsp;&#x2716;</span>                         
        </div>
        <div fxFlex="46%" *ngIf="Filter_Flag">&nbsp;</div>
        <div fxFlex="56%" *ngIf="!Filter_Flag">&nbsp;</div>
        <div fxFlex="2%" class="ICN_SIDE_BDR">&nbsp;</div>
        <div fxFlex="30%">
          <mat-form-field class="MAT_FILD_WDH" >
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <mat-icon matSuffix style="color:orange;">search</mat-icon>
          </mat-form-field>
        </div>
        <div fxFlex="3%">
          <app-more-option [moreoptcolumns]="getMoreOptionColmns()"></app-more-option>
        </div>
      </div>   
      <mat-table #table [dataSource]="dataSource" matSort>  
        <ng-container matColumnDef="Company">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Company'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.companyName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Type">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Type'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.documentType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Date">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Date'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.receiptDate| date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Number">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Number'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.receiptNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Org Inv Date">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Org Inv Date'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
            {{element.billDate| date:'dd-MM-yyyy'}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="Org Inv#">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Org Inv Number'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
            {{element.billNumber}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="Due Date">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'DueDate'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element"  >
            <div>
          {{element.dueDate | date:'dd-MM-yyyy'}}
        </div>
       </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Amount">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Amount'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.transactionAmount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="BalanceAmount">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'BalanceAmount'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.balance}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Transaction Status">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'TransactionStatus'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          {{element.transactionStatus}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions" >
          <mat-header-cell *matHeaderCellDef>{{'Actions'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
          <mat-form-field class="FX-WDH">
            <div *ngIf="!element.isActionSelected">
                {{element.actions}}
            </div>
                  <mat-select  [(ngModel)]="element.actions" style="font-size:12px!important;" (click)="getActionList(element)" (selectionChange)="NavigateToPage(element,i)">
                          <!-- <mat-option *ngFor="let a of activeList" [value]="a">{{a}}</mat-option> -->
                          <div *ngIf="isInvoiceRecord">
                              <mat-option *ngFor="let a of invoiceactiveList" [value]="a">{{a}}</mat-option>
                              </div>
                              <div *ngIf="isCreditNoteRecord">
                                  <mat-option *ngFor="let a of CreditNoteactiveList" [value]="a">{{a}}</mat-option>
                                  </div>
                  </mat-select>
          </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="Actions" >
          <mat-header-cell *matHeaderCellDef>{{'Actions'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element; let i=index">
          <mat-form-field class="FX-WDH">
              <div *ngIf="!element.isActionSelected">
                  {{element.actions}}
              </div>
                  <mat-select  [(ngModel)]="element.Actions" style="font-size:12px!important;" (click)="getActionList(element)" (selectionChange)="NavigateToPage(element,i)">

                      <div *ngIf="isInvoiceRecord">
                      <mat-option *ngFor="let a of invoiceactiveList" [value]="a">{{a}}</mat-option>
                      </div>
                      <div *ngIf="isCreditNoteRecord">
                        <mat-option *ngFor="let a of CreditNoteactiveList" [value]="a">{{a}}</mat-option>
                        </div>
                        
                  </mat-select>
          </mat-form-field>
          </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
      </mat-paginator>
    </mat-tab>

    <mat-tab label="{{'InvoiceList'|translate}}">
      <app-list-invoice ></app-list-invoice>  
    </mat-tab>

    <mat-tab label="{{'ReceiptList'|translate}}">
      <app-list-receipt (LoadCompanyDetails)="GetPropertyData($event)"></app-list-receipt>
    </mat-tab>

    <mat-tab label="{{'OpeningBalanceList'|translate}}">
      <app-list-openingbalance></app-list-openingbalance>
    </mat-tab>

    <mat-tab label="{{'CreditNoteList'|translate}}">
      <app-list-creditnote></app-list-creditnote>
    </mat-tab>

  </mat-tab-group>
</div>
<!--Fourth card start-->
<br><br>
<div class="container FX-BDR-FIX" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="end" fxLayoutGap.xs="0"  >
  <div fxFlex="4%" >
    <button mat-raised-button class="MAT-BTN-BAK" (click)="Back()">{{'Back'|translate}}</button>
  </div>
  <div fxFlex="2%">&nbsp;</div>
</div>
<!--Fourth card end-->